.field {
  font-size: large;
  margin-left: 550px;
  margin-top: 60px;
  color: #333;
  overflow: scroll;
}

.sign_up {
  font-size: 60px;
}
.log_in {
  font-size: 60px;
}

.edit_user{
  font-size: 60px;
}
